    <link rel="import" href="../bower_components/polymer/polymer.html">
    <polymer-element name="split-text"  attributes="question">
      <template>
        <div id="highlight-game">
          <style type="text/css">
            span{
              cursor: pointer;
            }
            .selected{
              padding: 2px;
              background: yellow;
            }
          </style>
          <template repeat="{{word, i in words}}">
            <span on-click={{selectText}} data-id={{i}}>
              {{word}}
            </span>
          </template>
        </div>

      </template>

      <script>
        Polymer('split-text', {
          created: function () {
            this.question = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor";
          },
          ready: function() {
            this.splitWords()
            this.answer = [];
          },
          selectText: function(e, detail, sender){
            var source = e.target;
            source.className = "selected";
          },
          splitWords: function(){
            if(typeof(this.question) != "undefined"){
              this.words =  this.question.split(" ");
            }
          }
        });
      </script>
    </polymer-element>